.about-page {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #0e0e0e 90%),
    url("/img/will_about.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 2rem;
  width: 120%;
  max-width: 700px;
  color: #f7f1e3;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-family: "Blackiron Demo", serif;
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #f7f1e3;
}

.about-text {
  font-family: "Muna", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #f7f1e3;
  text-align: justify;
}

.about-image {
  width: 100%;
  height: auto;
  max-height: 650px;
  object-fit: cover;
  border-radius: 12px;
  max-width: 100%;
  margin: auto;
}



.carousel-strip {
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 0;
}

.carousel-strip-track {
  display: flex;
  width: calc(var(--slide-width) * var(--slide-count));
  animation: scroll-left 20s linear infinite;
  --slide-width: 300px;
  --slide-count: 8;
}

.carousel-strip-image {
  width: var(--slide-width);
  height: 180px;
  object-fit: cover;
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 12px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--slide-width) * 4 - 40px));
  }
}

/* Responsive */
@media (max-width: 768px) {
  .about-title {
    font-size: 3rem;
  }

  .about-text {
    font-size: 1.2rem;
  }

  .carousel-strip-track {
    --slide-width: 200px;
    --slide-count: 8;
    animation: scroll-left 15s linear infinite;
  }

  .carousel-strip-image {
    width: var(--slide-width);
    height: 120px;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1 * var(--slide-width) * 4 - 30px));
    }
  }
}

@media (min-width: 992px) {
  .row.align-items-stretch {
    min-height: 600px;
  }
}
