.paginator {
  background-color: rgba(255, 255, 255, 0); 
  border-radius: 12px; 
  padding: 10px 15px;
}

.page-link {
  color: #69B7B2 !important; 
}

.page-item.disabled .page-link {
  color: #d6d6d6 !important; 
}

.page-item.active .page-link {
  background-color: #69B7B2 !important; 
  border-color: #69B7B2 !important; 
}

.page-item .page-link {
  border: none; 
  font-weight: bold; 
  padding: 8px 16px; 
}

.page-link:hover {
  background-color: #e0f2f1 !important;
  color: #69B7B2 !important;
}
